<!DOCTYPE html>
<html>
<head>
  <title>Graduation Information</title>
  <link rel="stylesheet" href="styles.css">
</head>
<body>
  <h1>Graduation Information</h1>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque euismod interdum eleifend. Aliquam aliquet gravida imperdiet. Nullam pharetra magna enim, ac ultrices magna volutpat ac. Maecenas convallis tristique posuere. Morbi ac ipsum interdum velit ultricies euismod. Sed porttitor, lorem sit amet bibendum laoreet, justo libero congue magna, quis cursus massa mauris euismod nibh. Sed laoreet quam eget diam porttitor, eu sodales nisi dapibus. Ut ut commodo nisl.
  </p>
  <p>
    Quisque at aliquam enim. Morbi libero ante, elementum non vestibulum ac, imperdiet sed mi. Suspendisse id mattis felis, ac luctus diam. Duis sit amet imperdiet turpis. Praesent tortor metus, vehicula vel ligula vitae, tincidunt fringilla erat. Donec convallis interdum quam. Aliquam id massa sapien. Integer in sem pellentesque, iaculis mauris vitae, vehicula neque. Cras nulla libero, porttitor quis leo sit amet, lacinia rhoncus est. Ut malesuada egestas sem, ac mattis purus posuere eget. Maecenas ac eros eu elit posuere imperdiet. Phasellus fringilla urna nulla, ac pharetra ante mattis vel. Sed a lectus quis orci vestibulum suscipit.
  </p>
  <p>Click <a href="/students/graduation">here</a> to start your graduation form.</p>
</body>
</html>

