<!DOCTYPE html>
<html>
<head>
  <title>Graduation Form</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <h1>Graduation Form</h1>
  <p>Please fill out the form below to apply for Graduation</p>
  <form action="/students/grad" method="POST">
    <table>
  	<tr>
  		<td class="right"><label>First & Last Name</label></td>
    	<td><input type="text" name="name"></td>
  	</tr>
    <tr>
      <td class="right"><label>Campus</label></td>
      <td><input type="text" name="campus"></td>
    </tr>
    <tr>
      <td class="right"><label>Age</label></td>
      <td><input type="text" name="age"></td>
    </tr>
    <tr>
      <td class="right"><label>Graduation Date</label></td>
      <td><input type="text" name="graddate" placeholder="07/16"></input></td>
    </tr>
    </table>
    <br>
    <button type="submit">Submit</button>
  </form>
</body>
</html>

